Objects/
Listings/

#矿ision5呵呵呵呵
*.uvguix.*
*.dep
*.lnp
*.sct
*.crf
*.d
*.axf
*.elf

#C语言中间文件
*.o
*.lst
*.map
*.i
*.asm
*.sym

*.cdb
*.ini
*.dbg

*.bak
*_backup.*

*.tmp
*.~
*.swp

*.lib
*.a

*.hex
*.bin

build-log.txt